@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(70, 112, 149);
}
header > h1  { 
    text-align: center;
    color: #fff;
}

main {
    height: 300px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section > p {
    padding: 10px;
}

main > section > p > input#final {
    display: block;
    margin: 15px;
}

select#seltab {
    width: 150px;
    margin-left: 15px;
    margin-top: 15px;
}

main > section#res {
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
    border: 1px 1px 0px 0px solid black;
} 

footer {
    text-align: center;
    color: #fff;
}